@mixin size($height, $width) {
  height: $height;
  width: $width;
}

@mixin size($size) {
  height: $size;
  widows: $size;
}

@mixin text-overflow() {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}