.dpr {
  position: relative !important;
}

.dpa {
  position: absolute !important;
}

.dpf {
  position: fixed !important;
}

.full-height {
  height: 100% !important;
}

.full-width {
  width: 100% !important;
}

.dtc {
  text-align: center !important;
}

.dcp {
  cursor: pointer !important;
}

//todo: write this class
.icon {

}